:root {
  --theme-color-transition-duration: 120ms;
  --theme-color-transition-ease: ease-out;
}

html[data-theme-morphing] {
  --theme-color-transition-duration: 1s;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition:
    background var(--theme-color-transition-duration) var(--theme-color-transition-ease),
    color var(--theme-color-transition-duration) var(--theme-color-transition-ease);
}

p {
  transition: color var(--theme-color-transition-duration) var(--theme-color-transition-ease);
}
